body {
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);/ repeat(3, 1fr);
    gap: 5px;
    max-width: 300px;
    width: 90vw;
    max-height: 300px;
    height: 90vw;
    background-color: #f0f0f0;
    border: 2px solid #ccc;

}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: #fff;
    cursor: pointer;
  }

#scoreboard {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

#reset-button { 
    margin-top: 10px;  

}

